


#PiePaginaindex {
  margin-top: 40px;
}

#PiePagina {
  margin-top: 10px;
}

#boton {
  margin-left: 80%;
  margin-top: -82px;

}

#imagenindex {
  margin-left: 40%;
  margin-bottom: 30px;
}


.navbar {
  margin-bottom: 0;
}
